
body {
  padding: 20px;
  margin: 10px;
  height: 100%;
  
}
.App {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/*My code*/


.mark-city {
  position: absolute;
}
.fessenheim {
  bottom: 579px;
  left: 665px;
  flex-direction: row-reverse;
}
.flamanville {
  bottom: 712px;
  left: 197px;
}
.civaux {
  top: 365px;
  left: 358px;
}
.penly {
  top: 63px;
  left: 373px;
}
.dampierre {
  top: 255px;
    left: 489px;
}
.golfech {
  top: 710px;
  left: 308px;
}
.blayais {
  top: 500px;
  left: 237px;
}
.cattenom {
  bottom: 714px;
    left: 739px;
}
.gravelines {
  bottom: 834px;
  left: 445px;
}
.choozb {
  bottom: 755px;
  left: 608px;
}
.cruas {
  bottom: 183px;
  left: 669px;
}
.saintalban {
  top: 593px;
  left: 692px;
}
.belleville {
  bottom: 527px;
  left: 534px;
}
.nogent {
  bottom: 646px;
  left: 613px;
}
.paluel {
  bottom: 732px;
  left: 341px;
}
.saintlaurent {
  top: 270px;
  left: 214px;
  flex-direction: row-reverse
}
.tricastin {
  top: 711px;
  left: 706px;
}
.chinonb {
  top: 331px;
  left: 185px;
  flex-direction: row-reverse;
}
.bugey {
  top: 537px;
  left: 593px;
  flex-direction: row-reverse;
}
.iconIndispo {
  background: linear-gradient(206.04deg, #FC1C1C 21.73%, #BC372E 83.59%);
}
.iconDispo {
  background: linear-gradient(182.12deg, #1CFC4D 7.61%, #25C448 94.18%);
}