
@font-face {
  font-family: "InterThin";   /*Can be any text*/
  src: local("Inter-Thin"),
    url("./fonts/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "InterRegular";   /*Can be any text*/
  src: local("Inter-Regular"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
}
@divider-border-color: #CBCBCB;
@modal-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
@modal-shadow-card: 0px 4px 20px rgba(44, 22, 132, 0.2);
@font-family-nunito: 'Nunito Sans';
@font-family-inter-thin: 'InterThin';
@font-family-inter-regular: 'InterRegular';
@background-card: #ffffff;
@border-color-card: #cfcfcf;
@border-radius-card: 10px;
@card-title-color: #000000;
body {
  font-family: @font-family-inter-regular;
  padding: 20px;
  margin: 10px;
  height: 100%;
  
}
.ant-col {
  font-family: @font-family-inter-regular;
}
.App {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.mark-city {
  position: absolute;
}
.fessenheim {
  bottom: 579px;
  left: 665px;
  flex-direction: row-reverse;
}
.flamanville {
  bottom: 712px;
  left: 197px;
}
.civaux {
  top: 365px;
  left: 358px;
}
.penly {
  top: 63px;
  left: 373px;
}
.dampierre {
  top: 255px;
    left: 489px;
}
.golfech {
  top: 710px;
  left: 308px;
}
.blayais {
  top: 500px;
  left: 237px;
}
.cattenom {
  bottom: 714px;
    left: 739px;
}
.gravelines {
  bottom: 834px;
  left: 445px;
}
.choozb {
  bottom: 755px;
  left: 608px;
}
.cruas {
  bottom: 183px;
  left: 669px;
}
.saintalban {
  top: 593px;
  left: 692px;
}
.belleville {
  bottom: 527px;
  left: 534px;
}
.nogent {
  bottom: 646px;
  left: 613px;
}
.paluel {
  bottom: 732px;
  left: 341px;
}
.saintlaurent {
  top: 270px;
  left: 214px;
  flex-direction: row-reverse
}
.tricastin {
  top: 711px;
  left: 706px;
}
.chinonb {
  top: 331px;
  left: 185px;
  flex-direction: row-reverse;
}
.bugey {
  top: 537px;
  left: 593px;
  flex-direction: row-reverse;
}

/*My code*/

.iconIndispo {
  background: linear-gradient(206.04deg, #FC1C1C 21.73%, #BC372E 83.59%);
}
.iconDispo {
  background: linear-gradient(182.12deg, #1CFC4D 7.61%, #25C448 94.18%);
}
.card-row {
  background: @background-card;
  border: 1px solid @border-color-card;
  box-shadow: @modal-shadow-card;
  border-radius: @border-radius-card;
  padding: 28px;
  flex-direction: column;
}
.card-title {
  font-family: @font-family-inter-thin;
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  color: @card-title-color;
}
.card-childrens {
  width: 274px;
}
.card-child {
  height: 58px;
  width: 274px;
  border: 1px solid;
}
