
body {
  padding: 20px;
  margin: 10px;
  height: 100%;
  
}
.App {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/*My code*/


.mark-city {
  position: absolute;
}
.fessenheim {
  bottom: 800px;
  left: 503px;
}
.flamanville {
  bottom: 701px;
  left: 209px;
}
.civaux {
  top: 270px;
  left: 46px;
}
.penly {
  top: 123px;
    left: 611px;
}
.dampierre {
  top: 231px;
  left: 307px;
}
.golfech {
  top: 158px;
  left: 405px;
}
.blayais {
  top: 690px;
  left: 210px;
}
.cattenom {
  bottom: 145px;
  left: 513px;
}
.gravelines {
  bottom: 73px;
  left: 364px;
}
.choozb {
  bottom: 551px;
  left: 725px;
}
.cruas {
  position: absolute;
  bottom: 625px;
  left: 541px;
}
.saintalban {
  top: 598px;
  left: 268px;
}
.belleville {
  bottom: 426px;
  left: 240px;
}
.nogent {
  bottom: 344px;
  left: 240px;
}
.paluel {
  bottom: 493px;
  left: 240px;
}
.saintlaurent {
  top: 351px;
  left: 508px
}
.tricastin {
  top: 610px;
  left: 524px;
}
.chinonb {
  top: 531px;
  left: 540px;
}
.bugey {
  top: 446px;
  left: 492px;
}
.iconIndispo {
  background: linear-gradient(206.04deg, #FC1C1C 21.73%, #BC372E 83.59%);
}
.iconDispo {
  background: linear-gradient(182.12deg, #1CFC4D 7.61%, #25C448 94.18%);
}