@font-face {
    font-family: "InterThin";   /*Can be any text*/
    src: local("Inter-Thin"),
      url("./fonts/Inter-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "InterRegular";   /*Can be any text*/
    src: local("Inter-Regular"),
      url("./fonts/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "InterLight";   /*Can be any text*/
    src: local("Inter-Light"),
      url("./fonts/Inter-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "NunitoSansExtraBold";   /*Can be any text*/
    src: local("NunitoSans-ExtraBold"),
      url("./fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  }