
.mark-city {
  position: absolute;
}
/*START NUCLEAR*/
.flamanville {
  top: 93px;
  left: 407px;
}  
.civaux {
  top: 440px;
  left: 312px;
  .box {
    flex-direction: row-reverse;
  }
}
.penly {
  top: 0px;
  left: 204px;
  .box {
    flex-direction: row-reverse;
  }
}
.dampierre {
  top: 310px;
  left: 489px;
}
.golfech {
  top: 669px;
  left: 191px;
  .box {
    flex-direction: row-reverse;
  }
}
.blayais {
  top: 544px;
  left: 257px;
  .box {
    flex-direction: row-reverse;
  }
}
.cattenom {
  bottom: 560px;
  left: 76px;
  .box {
    flex-direction: row-reverse;
  }
}
.gravelines {
  top: 0;
  left: 447px;
}

.chooz {
  bottom: 582px;
  left: 684px;
}

.cruas {
  bottom: 264px;
  left: 592px;
}
.stalban {
  top: 636px;
  left: 616px;
}
.belleville {
  bottom: 478px;
  left: 534px;
}
.nogent {
  bottom: 492px;
  left: 321px;
  .box {
    flex-direction: row-reverse;
  }
}
.paluel {
  bottom: 332px;
  left: 262px;
}
.stlaurent {
  top: 270px;
  left: 51px;
  .box {
    flex-direction: row-reverse;
  }
}
.tricastin {
  top: 676px;
  left: 400px;
}
.chinon {
  top: 394px;
  left: 53px;
  .box {
    flex-direction: row-reverse;
  }
}
.bugey {
  top: 528px;
  left: 519px;
}
/*END NUCLEAR*/
/*START HYDRO*/
.aigle {
  top: 200px;
  left: 255px;
}
.bathie {
  top: 83px;
  left: 229px;
}
.bort {
  top: 300px;
  left: 429px;
}
.brommat {
  top: 300px;
  left: 629px;
}
.chastang {
  top: 250px;
  left: 25px;
  .box {
    flex-direction: row-reverse;
  }
}
.cheylas {
  top: 300px;
  left: 220px;
  .box {
    flex-direction: row-reverse;
  }
}
.coche {
  top: 400px;
  left: 521px;
}
.combedavrieux {
  top: 400px;
  left: 101px;
  .box {
    flex-direction: row-reverse;
  }
}
.grandmaison {
  top: 450px;
  left: 300px;
}
.montezic {
  top: 500px;
  left: 550px;
}
.pouget {
  top: 600px;
  left: 420px;
}
.revin {
  top: 650px;
  left: 155px;
}
.sisteron {
  top: 100px;
  left: 500px;
}
.superbissorte {
  top: 596px;
  left: 642px;
}
.villarodin {
  top: 134px;
  left: 27px;
}
.mareges {
  top: 500px;
  left: 54px;
}
.bregnier-cordon {
  bottom: 233px;
  left: 234px;
}
.seyssel {
  right: 1px;
  bottom: 1px;
}
.sault-brenaz {
  top: 1px;
  left: 48px;
}
.sauveterre {
  top: 2px;
  left: 456px;
}
.vaugris {
  top: 35px;
  left: 9px;
}
.pierre-benite {
  top: 35px;
  left: 9px;
}
.chautagne {
  top: 35px;
  left: 9px;
}
.brens {
  top: 35px;
  left: 9px;
}
.saintpierrecognet {
  top: 35px;
  left: 9px;
}
.aston {
  top: 35px;
  left: 9px;
}
.pieddeborne {
  top: 35px;
  left: 9px;
}
.saintguillerme {
  top: 35px;
  left: 9px;
}
.hermillon {
  top: 35px;
  left: 9px;
}
.couesque {
  top: 35px;
  left: 9px;
}
.gervans {
  top: 35px;
  left: 9px;
}
.fr_saint-pierre {
  top: 35px;
  left: 9px;
}
.randens {
  top: 35px;
  left: 9px;
}
.avignon {
  top: 35px;
  left: 9px;
}
.bourg-les-valence {
  top: 35px;
  left: 9px;
}
.logis-neuf {
  top: 35px;
  left: 9px;
}
.fessenheim {
  top: 35px;
  left: 9px;
}
.kembs {
  top: 35px;
  left: 9px;
}
.sablons {
  top: 35px;
  left: 9px;
}
.saintchamas {
  top: 35px;
  left: 9px;
}
.marckolsheim {
  top: 35px;
  left: 9px;
}
.caderousse {
  top: 35px;
  left: 9px;
}
.rhinau {
  top: 35px;
  left: 9px;
}
.saussaz {
  top: 35px;
  left: 9px;
}
.saintesteve {
  top: 35px;
  left: 9px;
}
.vogelgrun {
  top: 35px;
  left: 9px;
}
.gerstheim {
  top: 35px;
  left: 9px;
}
.curbans {
  top: 35px;
  left: 9px;
}
.saintecroix {
  top: 35px;
  left: 9px;
}
.montpezat {
  top: 35px;
  left: 9px;
}
.stetiennecantales {
  top: 35px;
  left: 9px;
}
.sarrans, .oraison, .pragneres, .beauchastel, .beaucaire, .chateauneuf-du-rhone, .vouglans {
  top: 35px;
  left: 9px;
}
.genissiat {
  top: 35px;
  left: 9px;
}
.serre-poncon {
  top: 35px;
  left: 9px;
}
.monteynard {
  top: 35px;
  left: 9px;
}
.bollene {
  top: 35px;
  left: 9px;
}
.malgovert {
  top: 35px;
  left: 9px;
}
.vouglans {
  top: 35px;
  left: 9px;
}
/*END HYDRO*/

/*START GAZ*/
.amfard {
  top: 310px;
  left: 598px;
}
.blenod {
  top: 169px;
  left: 238px;
  .box {
    flex-direction: row-reverse;
  }
}
.bouchain {
  top: 403px;
  left: 348px;
}
.combigolfeccg {
  top: 571px;
  left: 610px;
}
.croixdemetz {
  top: 284px;
  left: 329px;
}
.cycofos {
  top: 454px;
  left: 587px;
}
.dk6 {
  top: 50px;
  left: 295px;
  .box {
    flex-direction: row-reverse;
  }
}
.gamorant {
  top: 0;
  left: 493px;
}
.gennevilliers {
  top: 165px;
  left: 448px;
}
.martiguesponteau {
  top: 657px;
  left: 397px;
}
.pontsursambre{
  top: 96px;
  left: 645px;
} 
.saintavold {
  top: 205px;
  left: 693px;
}
.spem {
  top: 201px;
  left: 26px;
}
.saint-ouen {
  top: 390px;
  left: 148px;
}
.landivisiau {
  top: 300px;
  left: 58px;
}
/*END GAZ*/
/*START FIOUL*/
.arrighi {
  top: 205px;
  left: 445px;
}
.brennilis {
  top: 170px;
  left: 103px;
}
.dirinon {
  top: 263px;
  left: 192px;
}
.montereau {
  top: 316px;
  left: 563px;
}
.vaires {
  top: 99px;
  left: 562px;
}
/*END FIOUL*/
/*START TIDAL*/
.rance {
  top: 311px;
  left: 624px;
}
/*END TIDAL*/
/*START Eolien*/
.saint-nazaire {
  top: 366px;
  left: 216px;
}
/*End Eolien*/
/*START BIOMASS*/
.provence {
  bottom: 82px;
  right: 8px;
}
/*END BIOMASS*/
/*START CHARBON*/
.saint-avold {
  top: 120px;
  left: 120px;
}
.cordemais {
  top: 234px;
  left: 160px;
}
/*END CHARBON*/