
.mark-city {
  position: absolute;
}
.map {
  position: relative;
  top: 20px;
}
.rivers {
  position: absolute;
}
.groups {
  position: absolute;
  &.rhin-river {
    left: 806.15px;
    top: 347.05px;
  }
  &.massifcentral-river {
    left: 409.13px;
    top: 427.8px;
  }
  &.rhonenord-river {
    left: 636.38px;
    top: 408px;
  }
}

.river-1 {
  left: 623.03px;
  top: 102.08px;
}
.river-2 {
  left: 283.16px;
  top: 455.63px;
}
.river-3 {
  left: 794.28px;
  top: 179.99px;
}
.river-4 {
  left: 315.47px;
  top: 475.68px;
}
.river-5 {
  left: 232.33px;
  top: 291.93px;
}
.river-6 {
  left: 365.85px;
  top: 153.44px;
}
.river-7 {
  left: 614.31px;
  top: 410.42px;
}
.nuclear {
  width: 66px;
  height: 66px;
  border: 6px solid rgba(255, 225, 142, 0.6);
  border-radius: 50%;
  /*START NUCLEAR*/
  &.flamanville {
    left: 266px;
    top: 131.3px;
  }  
  &.civaux {
    left: 433.68px;
    top: 383.51px;
  }
  &.penly {
    left: 424.3px;
    top: 89.49px;
  }
  &.dampierre {
    left: 491.33px;
    top: 271.54px;
  }
  &.golfech {
    left: 379.13px;
    top: 618.24px;
  }
  &.blayais {
    left: 292.28px;
    top: 516.58px;
  }
  &.cattenom {
    left: 734.06px;
    top: 153.53px;
  }
  &.gravelines {
    left: 475.06px;
    top: -2px;
  }
  &.chooz {
    left: 636.3px;
    top: 110.49px;
  }
  &.cruas {
    left: 586.3px;
    top: 530.49px;
  }
  &.stalban {
    left: 628.84px;
    top: 494.43px;
  }
  &.belleville {
    left: 497.81px;
    top: 327.68px;
  }
  &.nogent {
    left: 579.3px;
    top: 236.49px;
  }
  &.paluel {
    left: 374.3px;
    top: 120.74px;
  }
  &.stlaurent {
    left: 425.66px;
    top: 290.16px;
  }
  &.tricastin {
    left: 620.65px;
    top: 575.89px;
  }
  &.chinon {
    left: 364.09px;
    top: 328.98px;
  }
  &.bugey {
    left: 667.45px;
    top: 446.39px;
  }
  /*END NUCLEAR*/
}/*START CHARBON*/
.fossil_hard_coal {
  width: 46px;
  height: 46px;
  border: 6px solid rgba(140, 122, 73, 0.6);
  border-radius: 50%;
  &.saint-avold {
    left: 792px;
    top: 245px;
  }
  &.cordemais {
    left: 217.68px;
    top: 323.6px;
  }
}
.fossil_gas {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(241, 136, 136, 0.6);
  border-radius: 50%;
  /*START GAZ*/
  &.amfard {
    top: 310px;
    left: 598px;
  }
  &.blenod {
    left: 746.05px;
    top: 258.91px;
  }
  &.bouchain {
    left: 533.56px;
    top: 53.01px;
  }
  &.combigolfeccg {
    left: 554px;
    top: 666px;
  }
  &.croixdemetz {
    left: 710px;
    top: 280px;
  }
  &.cycofos {
    left: 574px;
    top: 630px;
  }
  &.dk6 {
    left: 433px;
    top: 16px;
  }
  &.gamorant {
    top: 0;
    left: 493px;
  }
  &.gennevilliers {
    left: 431px;
    top: 169.4px;
  }
  &.martiguesponteau {
    left: 594.83px;
    top: 665.85px;
  }
  &.pontsursambre{
    left: 585.32px;
    top: 74.48px;
  } 
  &.saintavold, &.saint-avold { // EMILE HUCHET
    left: 782px;
    top: 207px;
  }
  &.spem {
    left: 179.6px;
    top: 303.43px;
  }
  &.saint-ouen {
    left: 466px;
    top: 187px;
  }
  &.landivisiau {
    top: 274px;
    left: 215px;
  }
  /*END GAZ*/
}
.hydraulics {
  width: 46px;
  height: 46px;
  border: 6px solid rgba(117, 199, 245, 0.6);
  border-radius: 50%;
  &.rhonesud {
    left: 657px;
    top: 610px;
  }
  &.rhonenord {
    left: 637px;
    top: 407px;
  }
  &.rhin {
    left: 800px;
    top: 294px;
  }
  
  &.pyrenees {
    left: 428px;
    top: 736px;
  }
  &.meuse {
    left: 614px;
    top: 117px;
  }
  &.massifcentral {
    left: 482px;
    top: 526px;
  }
  
  &.jura-vosges {
    left: 715px;
    top: 359px;
  }
  &.alpessud {
    left: 724px;
    top: 616px;
  }
  &.alpesnord {
    left: 728px;
    top: 495px;
  }
}
.tidal {
  width: 28px;
  height: 28px;
  border: 4px solid rgba(117, 199, 245, 0.6);
  border-radius: 50%;
  /*START TIDAL*/
  &.rance {
    left: 231.34px;
    top: 209.37px;
  }
  /*END TIDAL*/
}
.fossil_oil {
  /*START FIOUL*/
  width: 46px;
  height: 46px;
  border: 6px solid rgba(213, 170, 255, 0.6);
  border-radius: 50%;
  &.arrighi {
    left: 465px;
    top: 227px;
  }
  &.brennilis {
    left: 129.13px;
    top: 235.13px;
  }
  &.dirinon {
    left: 103px;
    top: 211.29px;
  }
  &.montereau {
    left: 505px;
    top: 237px;
  }
  &.vaires {
    left: 547px;
    top: 198px;
  }
}
/*END CHARBON*/
/*START HYDRO*/
.aigle {
  top: 200px;
  left: 255px;
}
.bathie {
  top: 83px;
  left: 229px;
}
.bort {
  top: 300px;
  left: 429px;
}
.brommat {
  top: 300px;
  left: 629px;
}
.chastang {
  top: 250px;
  left: 25px;
  .box {
    flex-direction: row-reverse;
  }
}
.cheylas {
  top: 300px;
  left: 220px;
  .box {
    flex-direction: row-reverse;
  }
}
.coche {
  top: 400px;
  left: 521px;
}
.combedavrieux {
  top: 400px;
  left: 101px;
  .box {
    flex-direction: row-reverse;
  }
}
.grandmaison {
  top: 450px;
  left: 300px;
}
.montezic {
  top: 500px;
  left: 550px;
}
.pouget {
  top: 600px;
  left: 420px;
}
.revin {
  top: 650px;
  left: 155px;
}
.sisteron {
  top: 100px;
  left: 500px;
}
.superbissorte {
  top: 596px;
  left: 642px;
}
.villarodin {
  top: 134px;
  left: 27px;
}
.mareges {
  top: 500px;
  left: 54px;
}
.bregnier-cordon {
  bottom: 233px;
  left: 234px;
}
.seyssel {
  right: 1px;
  bottom: 1px;
}
.sault-brenaz {
  top: 1px;
  left: 48px;
}
.sauveterre {
  top: 2px;
  left: 456px;
}
.vaugris {
  top: 35px;
  left: 9px;
}
.pierre-benite {
  top: 35px;
  left: 9px;
}
.chautagne {
  top: 35px;
  left: 9px;
}
.brens {
  top: 35px;
  left: 9px;
}
.saintpierrecognet {
  top: 35px;
  left: 9px;
}
.aston {
  top: 35px;
  left: 9px;
}
.pieddeborne {
  top: 35px;
  left: 9px;
}
.saintguillerme {
  top: 35px;
  left: 9px;
}
.hermillon {
  top: 35px;
  left: 9px;
}
.couesque {
  top: 35px;
  left: 9px;
}
.gervans {
  top: 35px;
  left: 9px;
}
.fr_saint-pierre {
  top: 35px;
  left: 9px;
}
.randens {
  top: 35px;
  left: 9px;
}
.avignon {
  top: 35px;
  left: 9px;
}
.bourg-les-valence {
  top: 35px;
  left: 9px;
}
.logis-neuf {
  top: 35px;
  left: 9px;
}
.fessenheim {
  top: 35px;
  left: 9px;
}
.kembs {
  top: 35px;
  left: 9px;
}
.sablons {
  top: 35px;
  left: 9px;
}
.saintchamas {
  top: 35px;
  left: 9px;
}
.marckolsheim {
  top: 35px;
  left: 9px;
}
.caderousse {
  top: 35px;
  left: 9px;
}
.rhinau {
  top: 35px;
  left: 9px;
}
.saussaz {
  top: 35px;
  left: 9px;
}
.saintesteve {
  top: 35px;
  left: 9px;
}
.vogelgrun {
  top: 35px;
  left: 9px;
}
.gerstheim {
  top: 35px;
  left: 9px;
}
.curbans {
  top: 35px;
  left: 9px;
}
.saintecroix {
  top: 35px;
  left: 9px;
}
.montpezat {
  top: 35px;
  left: 9px;
}
.stetiennecantales {
  top: 35px;
  left: 9px;
}
.sarrans, .oraison, .pragneres, .beauchastel, .beaucaire, .chateauneuf-du-rhone, .vouglans {
  top: 35px;
  left: 9px;
}
.genissiat {
  top: 35px;
  left: 9px;
}
.serre-poncon {
  top: 35px;
  left: 9px;
}
.monteynard {
  top: 35px;
  left: 9px;
}
.bollene {
  top: 35px;
  left: 9px;
}
.malgovert {
  top: 35px;
  left: 9px;
}
.vouglans {
  top: 35px;
  left: 9px;
}
/*END HYDRO*/



/*END FIOUL*/

/*START Eolien*/
.saint-nazaire {
  top: 366px;
  left: 216px;
}
/*End Eolien*/
/*START BIOMASS*/
.provence {
  bottom: 60px;
  right: 233px;
}
/*END BIOMASS*/
